<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Create Employee | JobMii</title>
</head>

<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-md-10 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Input New Employee</h4>
						<p class="card-description"> Please fill </p>
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control form-control-lg" placeholder="Name"
								aria-label="Username">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control form-control-lg" placeholder="Email">
						</div>
						<div class="form-group">
							<label>Phone Number</label>
							<input type="number" class="form-control form-control-lg" placeholder="Phone Number"
								aria-label="Username">
						</div>
						<div class="form-group">
							<label>Username</label>
							<input type="text" class="form-control form-control-lg" placeholder="Username"
								aria-label="Username">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control form-control-lg" placeholder="Password"
								aria-label="Username">
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>